<main class="contenu">
	<h3>Cr&eacute;er un compte</h3>
	<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
	<%= devise_error_messages! %>
	<table width="100%">
		<tr align="left">
			<th><%= f.label :email %></th>
		</tr>
		<tr>
			<td><%= f.email_field :email %></td>
		</tr>
		<tr align="left">
			<th><%= f.label :password %></th>
		</tr>
		<tr>
			<td><%= f.password_field :password %></td>
		</tr>
		<tr align="left">
			<th><%= f.label :password_confirmation %></th>
		</tr>
		<tr>
			<td><%= f.password_field :password_confirmation %></td>
		</tr>
		<tr>
			<td><%= recaptcha_tags %></td>
		</tr>
		<tr>
			<td><%= link_to "Soumettre", "#", :id => "sign_up", class: 'actions' %> <%= render "devise/shared/links" %></td>
		</tr>
	</table>

	<% end %>
</main>

