<%= form_for(@comment) do |f| %>
<div id="contenu">
	<%= f.hidden_field :recette_id, :value => @recette.id %>
	<%= f.label :commentaire %>
	<%= f.text_area :content, :class => "tinymce" %>
	<br />
	<%= f.submit 'Soumettre' %>
</div>
<% end %>
