<%= form_for(@comment) do |f| %>
<div class="field">
	<%= f.hidden_field :recette_id, :value => @recette.id %>
	<%= f.label :content %>
	<br />
	<%= f.text_area :content, :class => "tinymce" %>
</div>
<div class="actions">
	<%= f.submit 'Soumettre' %>
</div>
<% end %>
