<div id="contenu">
	<h3><%= @recette.titre %> - Commentaires</h3>
	<p id="notice">
		<%= flash[:notice] %>
	</p>
	<p id="error">
		<%= flash[:error] %>
	</p>
	<table width="100%" border="0">
		<tr align="center" class="actions">
			<td colspan="4"><%= link_to 'Retour', recette_path(@recette) %></td>
		</tr>
		<tr align="left">
			<th>Auteur</th><th colspan="3">Commentaire</th>
		</tr>
		<tr>
			<td colspan="4"></td>
		</tr>
		<% @comments.each do |comment| %>
		<tr valign="top">
			<td><%= link_to get_username(comment.user_id), user_path(comment.user_id) %></td>
			<td><%= raw(comment.content) %></td>
			<td class="actions"><% if do_authentication_comments(comment[:id]) then %>
			<%= link_to 'Modifier', edit_comment_path(comment[:id]) %>
			<% end %> </td>
			<td class="actions"> <% if do_authentication_comments(comment[:id]) then %>
			<%= link_to 'Effacer', comment, method: :delete, data: { confirm: 'Etes-vous certain?' } %>
			<% end %> </td>

		</tr>
		<% end %>
	</table>

</div>