<%= form_for([@recette, @recette.comments.build]) do |f| %>
<% if @recette.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@recette.errors.count, "error") %> prohibited this recette from being saved:</h2>

	<ul>
		<% @recette.errors.full_messages.each do |msg| %>
		<li>
			<%= msg %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>
<%= f.label :ajouter_un_commentaire %>

<%= f.text_area :content, :class => "tinymce", :cols => 90 %>
<p>
	<%= f.submit "Ajouter le commentaire" %>
</p>
<hr />
<% end %>