<%= form_for([@recette, @recette.comments.build]) do |f| %>
<%= f.label :ajouter_un_commentaire %>

<%= f.text_area :content, :class => "tinymce", :cols => 90 %>
<%= recaptcha_tags %>
<p>
	<%= f.submit "Ajouter le commentaire" %>
</p>
<hr />
<% end %>