<%= form_for(@recette) do |f| %>
<% if @recette.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@recette.errors.count, "error") %> prohibited this recette from being saved:</h2>

	<ul>
		<% @recette.errors.full_messages.each do |msg| %>
		<li>
			<%= msg %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>

<div class="field">
	<b><%= f.label :titre %></b>
	<br />
	<%= f.text_field :titre %>
</div>
<div class="field">
	<b><%= f.label :categorie %></b>
	<br />
	<% for category in Category.find(:all) %>
	<div>
		<%= check_box_tag "recette[category_ids][]", category.id, @recette.categories.include?(category) %>
		<%= category.nom %>
	</div>
	<% end %>
</div>
<div class="field">
	<b><%= f.label :source %></b>
	<br />
	<%= f.text_field :source %>
</div>
<div class="field">
	<b><%= f.label :preparation %></b>
	<br />
	<%= f.text_field :preparation %>
</div>
<div class="field">
	<b><%= f.label :cuisson %></b>
	<br />
	<%= f.text_field :cuisson %>
</div>
<div class="field">
	<b><%= f.label :marinage %></b>
	<br />
	<%= f.text_field :marinage %>
</div>
<div class="field">
	<b><%= f.label :portion %></b>
	<br />
	<%= f.text_field :portion %>
</div>
<div class="field">
	<b><%= f.label :ingredient %></b>
	<br />
	<%= f.text_area :ingredient, :class => "wymeditor" %>
</div>
<div class="field">
	<b><%= f.label :instruction %></b>
	<br />
	<%= f.text_area :instruction, :class => "wymeditor"  %>
</div>
<div class="field">
	<b><%= f.label :note %></b>
	<br />
	<%= f.text_area :note, :class => "wymeditor"  %>
</div>
<div class="field">
	<b><%= f.label :accompagnement %></b>
	<br />
	<%= f.text_field :accompagnement, :class => "wymeditor"  %>
</div>
<div class="field">
	<b><%= f.label :vin %></b>
	<br />
	<%= f.text_field :vin, :class => "wymeditor"  %>
</div>
<br />
<div class="actions">
	<%= f.submit 'Soumettre' %>
</div>
<% end %>
