<%= form_for(@recette) do |f| %>
<% if @recette.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@recette.errors.count, "error") %> prohibited this recette from being saved:</h2>

	<ul>
		<% @recette.errors.full_messages.each do |msg| %>
		<li>
			<%= msg %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>
<table width="100%">
	<tr align="left">
		<th colspan="2"><%= f.label :titre %></th>
	</tr>
	<tr>
		<td colspan="2"><%= f.text_field :titre, :size => 128 %></td>
	</tr>
	<tr align="left">
		<th colspan="2"> <%= f.label :photo %> </th>
	</tr>
	<tr>
		<td colspan="2"> <%= f.attachinary_file_field :photo %> </td>
	</tr>
	<tr align="left">
		<th colspan="2"><%= f.label :categories %></th>
	</tr>

	<tr>
		<td colspan="2">
		<table width="100%" border="0">
			<%
			count = 1
			just_changed = false
			for category in Category.all
			%>
			<% if just_changed then %>
			<tr>
				<% just_changed = false %>
				<% end %>
				<td> <%= check_box_tag "recette[category_ids][]", category.id, @recette.categories.include?(category) %>
				<%= category.nom %> </td>
				<% if (count % 4 == 0) then %>
			</tr>
			<% just_changed = true %>
			<% end %>
			<%
			count += 1
			end
			%>
			<%= raw(fill_blanks(count)) %>
	</tr>
</table>
</td>
<tr align="left">
	<th><%= f.label :preparation %></th>
	<th><%= f.label :cuisson %></th>
</tr>
<tr>
	<td><%= f.text_field :preparation %></td>
	<td><%= f.text_field :cuisson %></td>
</tr>
<tr align="left">
	<th><%= f.label :marinage %></th>
	<th><%= f.label :portion %></th>
</tr>
<tr>
	<td><%= f.text_field :marinage %></td>
	<td><%= f.text_field :portion %></td>
</tr>
<tr align="left">
	<th colspan="2"><%= f.label :ingredient %></th>
</tr>
<tr>
	<td colspan="2"><%= f.text_area :ingredient,:class => "tinymce", :cols => 90 %></td>
</tr>
<tr align="left">
	<th colspan="2"><%= f.label :instruction %></th>
</tr>
<tr>
	<td colspan="2"><%= f.text_area :instruction,:class => "tinymce", :rows => 20, :cols => 90   %></td>
</tr>
<tr align="left">
	<th colspan="2"><%= f.label :note %></th>
</tr>
<tr>
	<td colspan="2"><%= f.text_area :note,:class => "tinymce", :cols => 90   %></td>
</tr>
<tr align="left">
	<th colspan="2"><%= f.label :accompagnement %></th>
</tr>
<tr>
	<td colspan="2"><%= f.text_area :accompagnement, :class => "tinymce", :cols => 40, :rows => 5  %></td>
</tr>
<tr align="left">
	<th colspan="2"><%= f.label :vin %></th>
</tr>
<tr>
	<td colspan="2"><%= f.text_area :vin,:class => "tinymce", :cols => 40, :rows => 5 %></td>
</tr>
<tr align="left">
	<th colspan="2"><%= f.label :source %></th>
</tr>
<tr>
	<td colspan="2"><%= f.text_field :source, :size => 128 %></td>
</tr>
</table>
<br />
<div class="actions">
	<%= link_to 'Soumettre', "#", :id => "soumettre_recette" %>
</div>
<% end %>
