<%= form_for(@recette) do |f| %>
  <% if @recette.errors.any? %>
    <section id="error_explanation">
      <h2><%= pluralize(@recette.errors.count, "error") %> prohibited this recette from being saved:</h2>

      <ul>
        <% @recette.errors.full_messages.each do |msg| %>
          <li>
            <%= msg %>
          </li>
        <% end %>
      </ul>
    </section>
  <% end %>

  <article class="recette_details">
    <section class="wide">
      <h4>Titre:</h4>
      <p><%= f.text_field :titre, :size => 48 %></p>
    </section>
    <section class="wide_no_bar">
      <h4>Photos:</h4>
      <p><%= f.attachinary_file_field :photo %></p>
    </section>
    <section class="wide_no_bar">
      <h4>Cat&eacute;gories:</h4>
      <p class="wide_no_bar">
      <ul class="categories">
        <% Category.all.each do |category| %>
          <li><%= check_box_tag "recette[category_ids][]", category.id, @recette.categories.include?(category) %> <%= category.nom %></li>
        <% end %>
      </ul>
      </p>
    </section>
    <section>
      <h4>Pr&eacuteparation:</h4>
      <p><%= f.text_field :preparation %></p>
    </section>
    <section>
      <h4>Cuisson:</h4>
      <p><%= f.text_field :cuisson %></p>
    </section>
    <section>
      <h4>Marinage:</h4>
      <p><%= f.text_field :marinage %></p>
    </section>
    <section>
      <h4>Portions:</h4>
      <p><%= f.text_field :portion %></p>
    </section>
    <section class="wide">
      <h4>Ingr&eacute;dients:</h4>
      <p><%= f.text_area :ingredient, :class => 'quill_container', :cols => 90 %></p>
    </section>
    <section class="wide">
      <h4>Instructions:</h4>
      <p><%= f.text_area :instruction, :class => 'quill_container', :cols => 90 %></p>
    </section>
    <section class="wide_no_bar">
      <h4>Notes:</h4>
      <p><%= f.text_area :note, :class => 'quill_container', :cols => 90 %></p>
    </section>
    <section class="wide_no_bar">
      <h4>Accompagnement:</h4>
      <p><%= f.text_area :accompagnement, :class => 'quill_container', :cols => 40, :rows => 5 %></p>
    </section>
    <section class="wide_no_bar">
      <h4>Vin:</h4>
      <p><%= f.text_area :vin, :class => 'quill_container', :cols => 40, :rows => 5 %></p>
    </section>
    <section class="wide_no_bar">
      <h4>Source:</h4>
      <p><%= f.text_field :source, :size => 48 %></p>
    </section>
    <section>
      <p><%= f.submit 'Soumettre', class: 'actions' %></p>
    </section>
  </article>
<% end %>