<div id="intro">
	<h3> <%= @recette.titre %> </h3>
</div>
<div id="left">

	<p id="notice">
		<%= notice %>
	</p>

	<table width="100%" border="0" padding="5">
		<tr>
			<th colspan="2">Source:</th>
		</tr>
		<tr>
			<td colspan="2"><% if check_if_link(@recette[:source]) then %> <a href="<%= @recette[:source] %>" target ="_blank"><%= @recette[:source] %></a> <% else %>
			<%= @recette[:source] %>
			<% end %></td>
		</tr>
		<tr>
			<th colspan="2">Auteur:</th>
		</tr>
		<tr>
			<td colspan="2"><%= link_to get_username(@recette[:user_id]), user_path(@recette[:user_id]) %></td>
		</tr>
		<tr>
			<th colspan="2">Cat&eacute;gories:</th>
		</tr>
		<tr>
			<td colspan="2"><% @recette.categories.each do |cat| %>
			<%= cat.nom %>
			<br />
			<% end %></td>
		</tr>
		<tr>
			<th>Preparation:</th>
			<th>Cuisson:</th>
		</tr>
		<tr>
			<td><%= @recette.preparation %></td>
			<td><%= @recette.cuisson %></td>
		</tr>
		<tr>
			<th>Marinage:</th>
			<th>Portion:</th>
		</tr>
		<tr>
			<td><%= @recette.marinage %></td>
			<td><%= @recette.portion %></td>
		</tr>
		<tr>
			<th colspan="2">Ingredients:</th>
		</tr>
		<tr>
			<td colspan="2"><%= raw(@recette.ingredient) %></td>
		</tr>
		<tr>
			<td colspan="2">
			<hr />
			</td>
		</tr>
		<tr>
			<th colspan="2">Instructions:</th>
		</tr>
		<tr>
			<td colspan="2"><%= raw(@recette.instruction) %></td>
		</tr>
		<tr>
			<td colspan="2">
			<hr />
			</td>
		</tr>
		<tr>
			<th colspan="2">Note:</th>
		</tr>
		<tr>
			<td colspan="2"><%= raw(@recette.note) %></td>
		</tr>
		<tr>
			<th colspan="2">Accompagnement:</th>
		</tr>
		<tr>
			<td colspan="2"><%= raw(@recette.accompagnement) %></td>
		</tr>
		<tr>
			<th colspan="2">Vin:</th>
		</tr>
		<tr>
			<td colspan="2"><%= raw(@recette.vin) %></td>
		</tr>
		<tr>
			<td colspan="2">
			<hr />
			</td>
		</tr>
	</table>
	<div id="comments">
		<% if current_user then %>
		<%= render 'comments' %>
		<% end %>
		<table width="100%">
			<tr><th>Commentaires:<br /><br /></th></tr>
			<% @comments.each do |comment| %>
			<tr>
				<td><h4><%= get_username(comment[:user_id]) %></h4></td>
			</tr>
			<tr>
				<td><%= raw(comment[:content]) %></td>
			</tr>
			<tr><td><hr /></td></tr>
			<% end %>
		</table>
	</div>
</div>

<div id="right">
	<% if do_authentication then %>
	<%= link_to 'Modifier', edit_recette_path(@recette) %> |
	<% end  %>
	<%= link_to 'Retour', recettes_path %>
	<% if do_authentication then %> |
	<%= link_to 'Effacer', @recette, confirm: 'Etes-Vous Certain?', method: :delete %>
	<% end %>
</div>
