<div id="intro">
	<h3> <%= @recette.titre %> </h3>
</div>
<div id="left">

	<p id="notice">
		<%= notice %>
	</p>

	<p>
		<b>Source:</b>
		<% if check_if_link(@recette.source) then %>
		<a href="<%= @recette.source %>" target ="_blank"><%= @recette.source %></a>
		<% else %>
		<%= @recette.source %>
		<% end %>
	</p>

	<p>
		<b>Auteur:</b>
		<%= get_username(@recette.auteur) %>
	</p>
	<p>
		<b>Cat&eacute;gories:</b>
		<br />
		<% @recette.categories.each do |cat| %>
		<%= cat.nom %>
		<br />
		<% end %>
	</p>
	<p>
		<b>Preparation:</b>
		<%= @recette.preparation %>
	</p>

	<p>
		<b>Cuisson:</b>
		<%= @recette.cuisson %>
	</p>

	<p>
		<b>Marinage:</b>
		<%= @recette.marinage %>
	</p>

	<p>
		<b>Portion:</b>
		<%= @recette.portion %>
	</p>

	<p>
		<b>Ingredient:</b>
		<%= raw(@recette.ingredient) %>
	</p>
	<p><hr /></p>
	<p>
		<b>Instruction:</b>
		<%= raw(@recette.instruction) %>
	</p>
	<p><hr /></p>
	<p>
		<b>Note:</b>
		<%= raw(@recette.note) %>
	</p>

	<p>
		<b>Accompagnement:</b>
		<%= raw(@recette.accompagnement) %>
	</p>

	<p>
		<b>Vin:</b>
		<%= raw(@recette.vin) %>
	</p>
</div>

<div id="right">
	<% if do_authentication then %>
	<%= link_to 'Modifier', edit_recette_path(@recette) %> |
	<% end  %>
	<%= link_to 'Retour', recettes_path %>
	<% if do_authentication then %> |
	<%= link_to 'Effacer', @recette, confirm: 'Etes-Vous Certain?', method: :delete %>
	<% end %>
</div>
