<div id="intro">
	<h3>Instructions de d&eacute;v&eacute;rouillage</h3>
</div>

<div id="left">
<%= form_for(resource, :as => resource_name, :url => unlock_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>
 <table width="100%">
 	<tr><th><%= f.label :email %></th></tr>
 	<tr><td><%= f.email_field :email %></td></tr>
 	<tr><td><%= f.submit "Resend unlock instructions" %></td></tr>
 </table>
<% end %>
</div>
<div id="right">
<%= render "devise/shared/links" %>
</div>
