<main class="contenu">
	<h3>Changer votre mot de passe</h3>
	<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
	<%= devise_error_messages! %>
	<%= f.hidden_field :reset_password_token %>
	<table>
		<tr>
			<th align="left"><%= f.label :password, "Nouveau mot de passe" %></th>
		</tr>
		<tr>
			<td><%= f.password_field :password %></td>
		</tr>
		<tr>
			<th align="left"><%= f.label :password_confirmation, "Confirmer nouveau mot de passe" %></th>
		</tr>
		<tr>
			<td><%= f.password_field :password_confirmation %></td>
		</tr>
		<tr>
			<td><%= f.submit "Soumettre changement" %> | <%= render "devise/shared/links" %></td>
		</tr>
	</table>
	<% end %>
</main>
