<div id="content">
	<div id="header">
		<h1><span class="hr">Livre de</span> Recette</h1>
		<ul id="top">
			<% if !current_user  then%>
			<li>
				<%= link_to 'Connexion', new_user_session_path, :class => current_page?("connexion") %>
			</li>
			<% else %>
			<li>
				<%= link_to 'Deconnexion', destroy_user_session_path, :method => :delete %>
			</li>
			<% end %>
			<li>
				<%= link_to 'Recettes', recettes_path, :class => current_page?("recettes") %>
			</li>
			<li>
				<%= link_to 'Categories', categories_path, :class => current_page?("categories") %>
			</li>
		</ul>
	</div>
	<% if flash[:SecurityWarning] %>
	<div id="SecurityWarning">
		<%= flash[:SecurityWarning] %>
	</div>
	<% end %>
