<main class="contenu">
	<h3>Connexion</h3>
	<p id="notice">
		<%= notice %>
	</p>
	<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
	<table width="100%">
		<tr align="left">
			<th><%= f.label :email %></th>
		</tr>
		<tr>
			<td><%= f.email_field :email %></td>
		</tr>
		<tr align="left">
			<th><%= f.label :password %></th>
		</tr>
		<tr>
			<td><%= f.password_field :password %></td>
		</tr>
		<% if devise_mapping.rememberable? -%>
		<tr>
			<td><%= f.check_box :remember_me %> <%= f.label :remember_me %></td>
		</tr>
		<% end -%>
		<tr>
			<td><%= link_to 'Soumettre', '#', :id => 'connexion', class: 'actions devise_links' %> <%= render "devise/shared/links" %></td>
		</tr>
	</table>
	<% end %>
</main>

