<!DOCTYPE html>
<html>
	<head>
		<title><%= generate_title %></title>
		<%= stylesheet_link_tag "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= cloudinary_js_config %>
		
		<%= csrf_meta_tags %>
		<%= tinymce_assets %>
		<%= tinymce %>
		<script src="http://use.edgefonts.net/kaushan-script.js"></script>
		<script src="http://use.edgefonts.net/muli.js"></script>
		<script src="http://use.edgefonts.net/pt-sans-caption.js"></script>
	</head>
	<body>
		<%= render 'shared/header'%>
		<%= yield %>
		<%= render 'shared/footer'%>
	</body>
</html>
